@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Montserrat";
  font-weight: 500;
  color: #1b1b1b;
}

.top {
  background-color: #7030cc;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.navbar {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 70px;
  height: 50px;
  cursor: pointer;
}

.nav-items {
  margin-left: 200px;
  list-style-type: none;
}

.nav-items li {
  display: inline-block;
  margin-left: 40px;
}

.nav-items li a {
  text-decoration: none;
  font-size: 19px;
  color: #ffffff;
}

.nav-items li:first-child a {
  color: #1bbcef;
}

.nav-items li:first-child a::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  border-radius: 50%;
  background-color: #1bbcef;
  position: relative;
  top: 2.5px;
}

.free-trial-btn {
  margin-right: 70px;
  padding: 12px 20px;
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #1bbcef;
  border: none;
  border-radius: 5px;
  transition: background-color 200ms ease;
}

.free-trial-btn:hover {
  cursor: pointer;
  background-color: #16a5d1;
}

.intro {
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.intro .left {
  margin-left: 70px;
  width: 40%;
}

.intro .left h1 {
  font-size: 54px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.3;
}

.intro .left p {
  margin-top: 25px;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
}

.intro .right {
  margin-right: 70px;
}

img[alt="illustration-1"] {
  height: 500px;
}

.middle {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.middle .left {
  margin-left: 70px;
}

img[alt="illustration-2"] {
  height: 630px;
}

.middle .right {
  margin-right: 70px;
  width: 30%;
}

.middle .right h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}

.attributes {
  width: 78%;
  margin: auto;
}

.attribute {
  margin-bottom: 30px;
  position: relative;
}

.attribute h3 {
  font-size: 20px;
  font-weight: 700;
}

.attribute p {
  margin-top: 15px;
  font-size: 15px;
  line-height: 1.5;
}

.fa-share {
  position: absolute;
  left: -25px;
  top: 5px;
}

.one {
  color: #ff4500;
}

.two {
  color: #19c856;
}

.three {
  color: #23c4ed;
}

.bottom {
  margin-top: 30px;
}

.bottom h2 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 1.4;
  width: 40%;
  margin: auto;
}

.features {
  margin: 70px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.feature {
  width: 18%;
  margin: 0 20px;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 4px 4px 6px #889899;
  text-align: center;
}

.feature:hover {
  cursor: pointer;
  animation: zoom 200ms ease forwards;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.08);
  }
}

.feature .icon {
  display: inline-block;
  padding: 25px 27px;
  border-radius: 50%;
  margin: 30px 0;
}

.clean-code {
  background-color: #c1807f45;
}

.analytics {
  background-color: #f28a4045;
}

.secured {
  background-color: #70979645;
}

.support {
  background-color: #9d37a845;
}

.feature img {
  height: 45px;
  position: relative;
  top: 2px;
}

.feature .content {
  border-radius: 20px;
  padding: 20px 0;
}

.feature .content h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.feature .content p {
  font-size: 15px;
  width: 70%;
  margin: auto;
}

.active .content {
  background-color: #6429b7;
}

.active .content * {
  color: #ffffff;
}
